@await Component.InvokeAsync("InfoContent", new { key = "home-top" })
@await Component.InvokeAsync("LastAppointments")
@await Component.InvokeAsync("InfoContent", new { key = "home-bottom" })

<div class="fb-comments" data-href="http://gnibirpvisa.com/" width="100%" data-numposts="20"></div>
