@{
    ViewData["Title"] = "App - ";
}

@section Head {
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ocmcniianlicpimghpejfacblnmhpjon">
}

<div class="media">
    <img class="mr-3" src="/image/chrome-logo.jpg" style="width: 64px;" data-holder-rendered="true" />
    <div class="media-body">
        <h5 class="mt-0">Chrome Extension</h5>
        <p>
            The extension for Google Chrome shows the newest valid appointments, auto-fills in the form preset and pushes newest released appointments.
        </p>
        <dl>
            <dt>Valid Appointments</dt>
            <dd>The list in portal shows the real-time available appointments.</dd>
            <dt>Preset</dt>
            <dd>Preset helps you auto fill in all your application contents.</dd>
            <dt>Notification</dt>
            <dd>Notification pushes the newest released appointment an offers a link to quickly make appointment.</dd>
            <dt>Page Tools</dt>
            <dd>Release Find button when it's frozen, hide footer of appointment page and XXXXXXL submit button.</dd>
        </dl>
        <a class="btn btn-success" href="https://chrome.google.com/webstore/detail/gnibirp-and-visa-appointm/ocmcniianlicpimghpejfacblnmhpjon">Go to store (Free)</a>
    </div>
</div>
