@{
    ViewData["Title"] = "App - ";
}

@section Head {
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ocmcniianlicpimghpejfacblnmhpjon">
}

<div class="media">
    <img class="mr-3" src="/image/chrome-logo.jpg" style="width: 64px;" data-holder-rendered="true" />
    <div class="media-body">
        <h5 class="mt-0">Chrome Extension</h5>
        The extension for Google Chrome helps viewing the newest valid appointments and filling in the form automatically from preset data.<br />
        <a class="btn btn-success" href="https://chrome.google.com/webstore/detail/gnibirp-and-visa-appointm/ocmcniianlicpimghpejfacblnmhpjon">Go to store</a>
    </div>
</div>
