@model IEnumerable<AppointmentModel>
@using Microsoft.AspNetCore.Mvc;
@using System.Text;

@{
    var groups = Model
        .GroupBy(appointment => appointment.Type + (appointment.SubCategory ?? appointment.Category))
        .ToDictionary(group => group.Key, group => group.ToArray());
}

@functions
{
    public object showAppointments(IDictionary<string, AppointmentModel[]> groups, string category)
    {
        if (groups.ContainsKey(category))
        {
            var stringBuilder = new StringBuilder();
            foreach (var appointment in groups[category])
            {
                stringBuilder.Append(appointment.Time.ToString("dd/MM/yyyy HH:mm"));
                stringBuilder.Append(appointment.Expiration?.ToString(" - HH:mm"));
                stringBuilder.Append("<br />");
            }
            return stringBuilder.ToString();
        }
        else
        {
            return "<span class=\"text-danger\">No valid</span>";
        }
    }
}

<h1>GNIB / IRP</h1>
<div class="alert alert-warning">
    <a href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm" target="_blank">Categories are bing removed. An All category will replace original 3 categories in future.</a>
    You don't need to worry about categories any more when making appointments.
</div>
<table class="table irp">
    <thead>
        <tr>
            <th scope="col">New</th>
            <th scope="col">Renewal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var set in new [] { "New", "Renewal" })
        {
            <tr>
                <td>
                    @Html.Raw(showAppointments(groups, "IRPNew"))
                </td>
                <td>
                    @Html.Raw(showAppointments(groups, "IRPRenewal"))
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success mb-5" href="/application">Appoint (Paid Service)</a>
<a class="btn btn-info mb-5" href="/App">Free Desktop App</a>
<a class="btn btn-primary mb-5" href="/info/make-an-appointment">About</a>

<style>
    table[class~=irp] .badge {
        display: none;
    }

    @@media only screen and (max-width: 420px) {
        table[class~=irp] tr th:first-child  {
            display: none;
        }

        table[class~=irp] .badge {
            display: block;
        }
    }
</style>

<h1>Visa</h1>
<div class="alert alert-warning">
    <a href="http://www.inis.gov.ie/en/INIS/Pages/Re-entry+visas" target="_blank">Only emergency will be accepted from 3 Sep 2018.</a>
    You should use postal to apply for a regular single/multi entry visa.
</div>
<table class="table visa">
    <thead>
        <tr>
            <th scope="col">Emergency</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.Raw(showAppointments(groups, "VisaEmergency"))
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success mb-5" href="https://reentryvisa.inis.gov.ie/website/INISOA/IOA.nsf/AppointmentSelection?OpenForm">Appoint Visa</a>
