@{
    var appointment = ViewBag.Appointment;
    var appointmentLetterTemplate = ViewBag.AppointmentLetterTemplate;

    var appointmentLetter = appointmentLetterTemplate
        .Replace("{AppointmentNo}", appointment.AppointmentNo)
        .Replace("{Time}", appointment.Time.ToString("dd/MM/yyyy HH:mm"))
        .Replace("{Name}", appointment.Name)
        .Replace("{Category}", appointment.Category)
        .Replace("{SubCategory}", appointment.SubCategory);
}

@section Head
{
    <style type="text/css">
        
    </style>
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Apply</li>
    <li class="breadcrumb-item">Order</li>
    <li class="breadcrumb-item">Checkout</li>
    <li class="breadcrumb-item">Status</li>
    <li class="breadcrumb-item"><a target="_self" href="#">Print</a></li>
  </ol>
</nav>

<div class="text-center mb-4">
    <button class="btn btn-success print">Print</button>
</div>

<div class="email">
    @Html.Raw(appointmentLetter)
</div>

@section Scripts
{
    <script type="text/javascript">
        $('.print').click(function () {
            var printWindow = window.open('', 'PRINT');
            printWindow.document.write('<html><head><title>INIS IRP Appointment Letter</title>');
            printWindow.document.write('</head><body>');
            printWindow.document.write($('.email').html());
            printWindow.document.write('</body></html>');
            
            printWindow.document.close(); // for IE >= 10
            printWindow.focus(); // for IE >= 10*/

            printWindow.print();
            printWindow.close();
        });
    </script>
}