@model InformationModel

@{
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>
<h6>@Model.CreatedTime.ToString("dd MMMM yyyy") - @Model.Author</h6>
<hr />
<div class="mt-5 mb-5">
    @Html.Raw(Model.Content)
</div>
@if (Model.FacebookComment) {
    <div class="fb-comments" data-href="http://gnibirpvisa.ie/Info/@Model.Key" width="100%" data-numposts="20"></div>
}