@{
    Layout = "_Layout";
}

@section Left {
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/Admin/">Admin</a>
            <a class="nav-link" href="/Admin/Info">Information</a>
            <a class="nav-link" href="/Admin/Configuration">Configuration</a>
            <a class="nav-link" href="/Admin/User">User</a>
            <a class="nav-link" href="/Admin/Assignment">Assignment</a>
        </li>
    </ul>
}

@RenderBody()

@section scripts {
    @RenderSection("Scripts", required: false)
}