@{
    Layout = "_Layout";
}

@section Left {
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/Admin/">Admin</a>
            <a class="nav-link" href="/Admin/Info">Information</a>
        </li>
    </ul>
}

@RenderBody()